---
name: Validate nix flake
on: # yamllint disable-line rule:truthy
  pull_request:
    paths:
      - ".github/workflows/lint_nix_flake.yaml"
      - "**.nix"
  push:
    paths:
      - ".github/workflows/lint_nix_flake.yaml"
      - "**.nix"
jobs:
  validate-nix-flake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install nix
        uses: cachix/install-nix-action@v31
      - name: Install nix language tools
        run: nix profile add github:oxalica/nil
      - name: Check nix flake for errors
        run: nil diagnostics -- *.nix
  check-nix-flake-formatted:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install nix
        uses: cachix/install-nix-action@v31
      - name: Install nix language tools
        run: nix profile add github:nixos/nixfmt
      - name: Check if nix flake is formatted
        run: nixfmt --check -- *.nix
