name: Validate Dockerfile
on:
  pull_request:
    paths:
      - 'src/Dockerfile'
      - 'src/squash.Dockerfile'
  push:
    paths:
      - 'src/Dockerfile'
      - 'src/squash.Dockerfile'
jobs:
  validate-dockerfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v5
      - name: Install docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Check Dockerfile for errors
        uses: docker/build-push-action@v6
        with:
          call: check
          file: src/Dockerfile
  lint-dockerfile:
    runs-on: ubuntu-latest
    needs: validate-dockerfile
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v5
      - name: Check Dockerfile for errors
        uses: hadolint/hadolint-action@master
        with:
          config: .config/.hadolint.yaml
          dockerfile: src/Dockerfile
  validate-squash-dockerfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v5
      - name: Install docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Check squash.Dockerfile for errors
        uses: docker/build-push-action@v6
        with:
          call: check
          file: src/squash.Dockerfile
  lint-squash-dockerfile:
    runs-on: ubuntu-latest
    needs: validate-squash-dockerfile
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v5
      - name: Check Dockerfile for errors
        uses: hadolint/hadolint-action@master
        with:
          config: .config/.hadolint.yaml
          dockerfile: src/squash.Dockerfile
