---
name: Validate yaml
on: # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches:
      - "master"
jobs:
  validate-yaml:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6
      - name: Install yamllint
        run: sudo apt-get install -y yamllint
      - name: Check yaml files for errors
        run: yamllint .
