---
name: Zwift build from scratch
'on':
  workflow_dispatch:
  schedule:
  - cron: 0 0 1 */3 *
  push:
    branches:
    - master
    paths:
    - src/Dockerfile
concurrency:
  group: zwift-container-image
jobs:
  zwift_build:
    if: github.repository == 'netbrain/zwift'
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Install dependencies
      run: sudo apt-get install -y x11-xserver-utils x11-apps
    - uses: netbrain/free-disk-space-action@v0.0.1
    - name: Checkout
      uses: actions/checkout@v6
    - name: Build zwift
      run: |
        export DISPLAY=":99"

        version="$(curl -s http://cdn.zwift.com/gameassets/Zwift_Updates_Root/Zwift_ver_cur.xml \
            | grep -oP 'sversion="\K.*?(?=")' | cut -f 1 -d ' ')"
        build_date="$(date -u +'%Y-%m-%dT%H:%M:%SZ')"

        echo "Starting build..."

        Xvfb "${DISPLAY}" -ac -screen 0 "800x600x24" -nolisten tcp &
        sleep 3

        docker build -t netbrain/zwift:build src/

        xhost +
        docker run \
            --name zwift \
            -e DISPLAY="${DISPLAY}" \
            -e CONTAINER_TOOL="docker" \
            --device="/dev/dri:/dev/dri" \
            -v /tmp/.X11-unix:/tmp/.X11-unix \
            netbrain/zwift:build

        docker commit \
            --change="LABEL org.opencontainers.image.created=${build_date}" \
            --change="LABEL org.opencontainers.image.version=${version}" \
            --change='CMD [""]' \
            -m "built from scratch from version ${version}" \
            zwift \
            "netbrain/zwift:${version}"

        docker tag "netbrain/zwift:${version}" netbrain/zwift:latest
        docker push "netbrain/zwift:${version}"
        docker push netbrain/zwift:latest
