---
name: Zwift matrix build
'on':
  workflow_dispatch:
jobs:
  zwift_build:
    if: github.repository == 'netbrain/zwift'
    runs-on: ubuntu-22.04
    timeout-minutes: 360
    strategy:
      fail-fast: false
      matrix:
        wine-version:
        - 8.0.2~bookworm-1
        - 8.0.1~bookworm-1
        - 8.0.0.0~bookworm-1
        - 7.0.2~bookworm-1
        - 7.0.1~bookworm-1
        - 7.0.0.0~bookworm-1
        winetricks-version:
        - '20230212'
        - '20220521'
        - '20220411'
        - '20220331'
        - '20220328'
        - '20210825'
        - '20210206'
        wine-mono-version:
        - 7.0.0
        - 7.1.0
        - 7.1.1
        - 7.2.0
        - 7.3.0
        - 7.4.0
        - 8.0.0
        - 8.1.0
    steps:
    - name: Install dependencies
      run: sudo apt-get install -y x11-xserver-utils x11-apps
    - uses: netbrain/free-disk-space-action@v0.0.1
    - name: Checkout
      uses: actions/checkout@v6
    - name: Build zwift
      run: |
        set -x
        VERSION=$(curl -s http://cdn.zwift.com/gameassets/Zwift_Updates_Root/Zwift_ver_cur.xml \
                | grep -oP 'sversion="\K.*?(?=")' | cut -f 1 -d ' ')
        BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
        export VERSION
        export BUILD_DATE

        echo "Starting build..."
        Xvfb :99 -ac -screen 0 "800x600x24" -nolisten tcp &
        sleep 3
        export DISPLAY=:99
        docker build \
          --build-arg="WINE_VERSION=${{ matrix.wine-version }}" \
          --build-arg="WINETRICKS_VERSION=${{ matrix.winetricks-version }}" \
          --build-arg="WINE_MONO_VERSION=${{ matrix.wine-mono-version }}" \
          -t netbrain/zwift:build .
        xhost +
        docker run --name zwift \
                -e DISPLAY=$DISPLAY \
                -e CONTAINER=docker \
                --device /dev/dri \
                -v /tmp:/tmp \
                netbrain/zwift:build
